<!DOCTYPE html>
<html>
    <head>
        <title>Image upload </title>
    </head>
        <body>
            <div>
                <form method="post" action="/upload" enctype="multipart/form-data">
                    <input type="file" name="files"/>
                    <button type="submit">Upload</button>
                    </form>
                    </div>
                    </body>
                    </html>

                